@model SolveOrDrinkIt.Models.Game

@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>
<div class="container">
    <h3>
        @Html.DisplayFor(model => model.name)
    </h3>
    <p id="task" style="background-color: lightgrey; padding: 1rem;"></p>
    <div>
       <input type="button" id="drink" value="Drink"/>
       <input type="button" id="completed" value="Completed"/>
    </div>
    <div>
       <input type="button" id="end" value="End"/>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var gameId = @Html.Raw(Json.Encode(Model.id));
            var gameHub = $.connection.gameHub;

            gameHub.client.newTask = function (showCompleted, msg) {
                $('#completed').toggle(showCompleted);
                $('#task').text(msg.replace('task', ''));
            };
            gameHub.client.endGame = function() {
                $.connection.hub.stop();
                window.location.href = "/Games/JoinGame";
            };
            $.connection.hub.start().done(function () {
                gameHub.server.joinGame(gameId);
                gameHub.server.getTask(gameId);
                $('#completed').click(function () {
                    gameHub.server.completed(gameId);
                });
                $('#drink').click(function () {
                    gameHub.server.drink(gameId);
                });
                $('#end').click(function() {
                    gameHub.server.endGame(gameId);
                });
            });
        });
    </script>
}